body{
    background-color: #2c2c2c;
}

aside{
    float: left;
    background-color: rgb(58, 58, 161);
    width: 21%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
    font-size: 20px;
}

aside ul li:hover, aside ul a:hover{
    color: rgb(255, 94, 0);
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.b{
    float: left;
    clear: both;
    width: 420px;
    margin: 20px 34%;
    text-align: left;
}
/* .btn-info{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.btn-info li{
    margin-top: -2px;
    padding-right: 3px;
}
a{
    text-decoration: none;
}
.alert{
    text-align: center;
}

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.news{
    width: 500px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(245, 138, 67);
    margin-left: 30%; 
}
.news p{
    padding-bottom: 10px;
}